<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Spam Detection</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 50px;
        }

        h1 {
            text-align: center;
            margin-bottom: 30px;
            color: #007bff;
        }

        form {
            max-width: 600px;
            margin: auto;
        }

        .result {
            text-align: center;
            margin-top: 20px;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Email Spam Detection</h1>
        <form action="/predict" method="post">
            <div class="form-group">
                <label for="email_text">Enter Email Text:</label>
                <textarea class="form-control" id="email_text" name="email_text" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Predict</button>
        </form>

        {% if result %}
        <div class="result">
            <p style="font-size: 18px;"><strong>Prediction Result: </strong>{{ result }}</p>
        </div>
        {% endif %}
    </div>

    <!-- Bootstrap JS and Popper.js (required for Bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
